# Ignore Everything
/*

# Except for these:
!/.gitignore
!/Assets
!/ProjectSettings

/Assets/MORPH3D
/Assets/MoveMotionPack
/Assets/PBC_Texture_RoadsPack_01
/Assets/Mixamo
/Assets/Damaged_old_car
/Assets/Zombie
/Assets/BakeryIcon
/Assets/NatureStarterKit
/Assets/Building_02
/Assets/Military_Pistol_01_Free_v2
/Assets/FT_CaveWorm
/Assets/VoicesSfx
/Assets/8-Bit_Sfx
/Assets/Voices_Sfx
/Assets/Campfire
/Assets/Resources
/Assets/FallenTreeBarrier
/Assets/Barrel
/Assets/Building_08
